<!DOCTYPE html>
{% extends 'Voyage_LandingApp/base.html' %}
{% load static %}
{% block title %} Voyage Holidayz Login {% endblock %}

{% block content %}


  <!-- form with styling -->
  <div class="wrapper1"  id="signin-body">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="alert"> 
              {% if form.errors %}
                <p  class="alert alert-danger form-signin">Your username and password didn't match. Please try again.</p>
              {% endif %}
            </div>
            <div class="card card-signin my-5">
                <div class="card-body">
                    <!-- <legend class="text-center"> Voyage Holidayz </legend> -->
                    <form class="login-form" method="post" action="{% url 'login' %}">
                        {% csrf_token %}
                        <div class="form-label-group">
                          <!-- form goes here  -->
                          <div class="form-group">
                            <h2 class="form-sigin-heading text-center" id="signin-font">Sign In</h2>
                            <hr>
                            <label for="username">UserName*</label>
                            <input type="text" name="username" class="form-control" placeholder="Enter Name"  required>
                          </div>
                    
                          <div class="form-group">
                            <label for="password2">Password*</label>
                            <input type="password" name="password" placeholder="Password" class="form-control" required>
                          </div>
                          <!-- <input type="submit" value="login" class="btn btn-danger btn-block"> -->
                    
                        </div>
                        <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Login</button>
                        <hr class="my-4"> 
                        <strong class="text-muted ml-2">
                          <a href="{% url 'password_reset' %}">Forgot Password ?  </a>
                        </strong>
                        <hr class="my-4"> 
                        <small class='text-muted font-weight-bold'>Don't have an account ?  <a class="ml-2" href="{% url 'signup' %}">Sign up</a></small>
                  
                        <!-- <button class="btn btn-lg btn-google btn-block text-uppercase" type="submit"><i class="fab fa-google mr-2"></i> Sign in with Google</button> <button class="btn btn-lg btn-facebook btn-block text-uppercase" type="submit"><i class="fab fa-facebook-f mr-2"></i> Sign in with Facebook</button> -->
                    </form>
                </div>
            </div>
        </div>
    </div>
  </div>
  

<a href="https://drive.google.com/drive/u/0/my-drive"> google drive</a>
  
  
  
  <!-- THIS SCRIPT WILL PRIVENT THE BACK BUTTON IN BROWSER, IT WILL NOT ALLOW TO GO TO PRIVIOUS PAGE  -->
  <script type="text/javascript"> 
    window.history.forward(); 
    function noBack() { 
        window.history.forward(); 
    } 
  </script> 
  
  


{% endblock %} 