<!DOCTYPE html>
{% extends 'Voyage_LandingApp/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}


<div class="layout-content">

    <!-- Content -->
    <div class="container flex-grow-1 container-p-y">
      <!-- Header -->
      <div class="container-m-nx container-m-ny theme-bg-white mb-4">
        <div class="media col-md-10 col-lg-8 col-xl-7 py-5 mx-auto">
          <img src="{{ Domestic_Holiday_Package_Data.Location_Image.url }}" alt="" class=" col-md-12">
           <div class="media-body ml-5">
          </div>
        </div>
        <h4 class="text-center trip-title"> Itinerary</h4>

        <hr class="m-0">
      </div>
      <!-- Header -->
      <div class="row">
        <div class="col">
          <!-- Info -->
          <div class="card mb-4">
            <div class="card-body">
              <div class="row mb-2">
                <div class="col-md-3 text-muted trip-title">Package Name:</div>
                <div class="col-md-9">
                 <p class="trip-title"> {{Domestic_Holiday_Package_Data.Trip_Name }} </p>
                </div>
              </div>
              <div class="row mb-2">
                <div class="col-md-3 text-muted">Days:</div>
                <div class="col-md-9">
                  <a href="javascript:void(0)" class=" trip-title">{{ Domestic_Holiday_Package_Data.Days }}</a>
                </div>
              </div>

              <div class="row mb-2">
                <div class="col-md-3 text-muted">Nights:</div>
                <div class="col-md-9">
                  <a href="javascript:void(0)" class="text-body">{{ Domestic_Holiday_Package_Data.Nights}}</a>
                </div>
              </div>

              <h6 class="my-3">Contacts</h6>

              <div class="row mb-2">
                <div class="col-md-3 text-muted">Phone:</div>
                <div class="col-md-9 trip-title">
                  +91 12345 132123
                </div>
              </div>

              <h6 class="my-3">Details</h6>

              <div class="row mb-2">
                <div class="col-md-3 text-muted">Detailed Itinerary:</div>
                <div class="col-md-9">
                  <p>{{ Domestic_Holiday_Package_Data.Datailed_Itinerary }}</p>
                </div>
              </div>

              <div class="row">
                <div class="col-md-3 text-muted small">Domestic/International:</div>
                <div class="col-md-9">
                  <p> {{ Domestic_Holiday_Package_Data.Package }}</p>
                </div>
              </div>

            </div>
            <div class="card-footer text-center p-0 itinerary-footer">
              <div class="row no-gutters row-bordered row-border-light">
                <a href="javascript:void(0)" class="d-flex col flex-column text-body py-3">
                  <!-- <div class="font-weight-bold">24</div> -->
                  <!-- <div class="text-muted small">posts</div> -->
                </a>
                <a href="javascript:void(0)" class="d-flex col flex-column text-body py-3">
                  <!-- <div class="font-weight-bold">51</div> -->
                  <!-- <div class="text-muted small">videos</div> -->
                </a>
                <a href="javascript:void(0)" class="d-flex col flex-column text-body py-3">
                  <!-- <div class="font-weight-bold">215</div> -->
                  <!-- <div class="text-muted small">photos</div> -->
                </a>
              </div>
            </div>
          </div>
          <!-- / Info -->
        </div>
        <div class="col-xl-4">

          <!-- Side info -->
          <div class="card mb-4">
            <div class="card-body">
              <a href="javascript:void(0)" class="btn btn-primary rounded-pill">+&nbsp; Follow</a>
              &nbsp;
              <a href="javascript:void(0)" class="btn icon-btn btn-default md-btn-flat rounded-pill">
                <span class="ion ion-md-mail"></span>
              </a>
            </div>
            <hr class="border-light m-0">
            <div class="card-body">
              <p class="mb-2">
                <i class="ion ion-md-desktop ui-w-30 text-center text-lighter"></i> Enquiry</p>
              <p class="mb-2">
                <i class="ion ion-ios-navigate ui-w-30 text-center text-lighter"></i> Some thing</p>
              <p class="mb-0">
                <i class="ion ion-md-globe ui-w-30 text-center text-lighter"></i>
                <a href="javascript:void(0)" class="text-body">something</a>
              </p>
            </div>
            <hr class="border-light m-0">
            <div class="card-body">
              <a href="javascript:void(0)" class="d-block text-body mb-2">
                <i class="ion ion-logo-twitter ui-w-30 text-center text-twitter"></i> @nmaxwell
              </a>
              <a href="javascript:void(0)" class="d-block text-body mb-2">
                <i class="ion ion-logo-facebook ui-w-30 text-center text-facebook"></i> nmaxwell
              </a>
              <a href="javascript:void(0)" class="d-block text-body mb-0">
                <i class="ion ion-logo-instagram ui-w-30 text-center text-instagram"></i> nmaxwell
              </a>
            </div>
          </div>
          </div>
      </div><br><br>
          <!-- / Side info -->




{% endblock %}