<!DOCTYPE html>
{% extends 'Voyage_LandingApp/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}


<div class="" id="Enquiry-Form">  
    <button class="btn btn-primary" onclick="myFunction()">Round Trip/One Way</button>


    <div class="row form-group">
        <legend class="text-center enquiry-head" style="font-family: 'Volkhov', serif;">Flight Booking Enquiry</legend>
        {% if Form.errors %}
    {% for field in Form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in Form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}
          <div class="col-sm-4 flightBookings" > 
              {% csrf_token %}
              <form action=""  method="post" id="flight-booking-form"><br>
                        {% csrf_token %}
                        {{ Form.From |as_crispy_field  }} 

                </div>
                <div class="col-sm-4" id="flight-booking-form" ><br>
                    {{ Form.To |as_crispy_field }} 
                </div>
                <div class="col-sm-4" id="flight-booking-form">
                    <small class="text-danger">Class</small> {{ Form.Class |as_crispy_field }}  
                </div>                
                <div class="col-sm-2" id="flight-booking-form">
                    <small class="text-danger">Adults</small>
                    {{ Form.Adults  |as_crispy_field}} 
                </div>
                <div class="col-sm-2" id="flight-booking-form">
                    <small class="text-danger">Children</small>
                    {{ Form.Children |as_crispy_field }}  
                </div>
                <div class="col-sm-4" id="flight-booking-form">
                    <small class="text-danger">Name</small>
                    {{ Form.Name |as_crispy_field }} 
                </div>
                <div class="col-sm-4" id="flight-booking-form">
                    <small class="text-danger">Phone</small>
                    {{ Form.Phone |as_crispy_field }}  
                </div> 
                <div class="col-sm-4" id="flight-booking-form">
                    <small class="text-danger">Email</small>
                    {{ Form.Email |as_crispy_field }}
                </div>
                <div class="col-sm-4" id="flight-booking-form">
                    <small class="text-danger">Departure</small>
                    {{ Form.Date |as_crispy_field }}
                </div>
                <div class="col-sm-4" id="flight-booking-form">
                    <div id="myDIV">
                    <small class="text-danger">Return</small>
                    {{ Form.Till_Date |as_crispy_field }} 
                    </div>
                </div>

                <div class="col-sm-4" id="flight-booking-form"> <br>
                    <button type="submit" class="btn btn-primary btn-block">Submit</button><br>
                </div> 
                
            </form>
            </div>
    
    
      </div>
      <br><br><br><br>
      
      <!-- test script for autocompletion of google api NOTE:NEED TO ENABLE BILLING FOR THAT NEED TO ADD CREDIT/DEBIT CARD... -->
       <!-- <input id="autocomplete" placeholder='city,state' autocomplete="off" type="text"> -->

      <br><br><br>

    <!-- script -->
             

        <!-- <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAokuB3HxgWu7NqlciNWSuJTotq2dJqDWE&places&callback=initAutocomplete"
        type="text/javascript"></script>  -->

        <!-- <script>
            let autocomplete;
            function initAutocomplete() {
                autocomplete = new google.maps.places.Autocomplete(
                    document.getElementById('autocomplete'),
                    {
                        types :['establishment'],
                        componentRestrictions : {'country':['US','AU']},
                        fields : ['place_id','geometry','name'],
                    });
            }
        </script> -->


        <!-- <script>
        function whereAutocomplete(){
            autocomplete = new google.maps.places.Autocomplete(
            document.getElementById('where'),
            {
                types :['(regions)'],
                componentRestrictions :{'country':['INDIA','UA','UAE']}
            }
            );
            autocomplete.addListener('place_changed',place_changed);
        }
        
        //   function btn_handler(){
        //     alert($("#where").val())}
            
        </script> -->
{% endblock %}