{% block content %}
{% load static %}
<br>

<div class="container" style="background-color:#b49103; padding: 20px;">
    <h1>  <strong style="color: #f7f8fc;font-family:Libre Baskerville', serif ;"> Voyage Holidayz</strong> </h1>
    <div class="container text-center" style="color:white; padding:5%;">
        <h3>Traveller Details..</h3><hr>
        <p>Name                   : {{ name }} </p><hr>
        <p>Phone                  : {{ phone }}  </p><hr>
        <p>Email                  : {{ email }}</p><hr>
        <p>Destination            : {{ destination }} </p><hr>
        <p>Chekc In               : {{ checkin }} </p><hr>
        <p>Check Out              : {{  checkout }}</p><hr>
        <p>Class Of Hote          : {{  Class }}</p><hr>
        <p>Adults                 : {{  adults }}</p><hr>
        <p>children               : {{  children }}</p><hr>
        <p>Email                  : {{  email }}</p><hr>
        <p>Rooms                  : {{  rooms }}</p><hr>
    </div>
    
</div>






 

{% endblock %}

