/* home navbar and banner  */
#brand-name{
    color:#ffffff;
    text-decoration: none;
    font-family: 'Caveat', cursive;
    font-size:40px

}
#brand-name img{
    width: 50px;
}
.base-body {
    overflow-x: hidden !important;
}
#main-bnr{
    background: rgb(49,74,149);
    background: linear-gradient(0deg, rgba(49,74,149,1) 0%, rgba(50,50,56,1) 100%);
    border-radius: 0px;
}
.navbar{
    box-shadow: 0 8px 6px -6px black;

}
.navbar .nav-item .nav-link{
    color: #000000;
}
.navbar .nav-item{
    margin: 2%;
}
.navbar-toggler .navbar-toggler-icon{
    background-image: url("/static/images/MenuNew.png")
    
}
.banner-area .navbar-custom{
    background-color:hsl(0, 0%, 100%);
    border-radius:10px;
}
.enquiry-bnr{   

        background-color:#ffffff; 
        padding:5% 5% 5% 5%;
        margin-top:-70px;
        border-radius: 15px;
        height: 260px;
        box-shadow: 0 8px 6px -6px black;

}
#banner-head{
    text-decoration: none;
    color: #000000;
    
}
/* contact page  */
.gradient-brand-color {
    background-image: -webkit-linear-gradient(0deg, #376be6 0%, #6470ef 100%);
    background-image: -ms-linear-gradient(0deg, #376be6 0%, #6470ef 100%);
    color: #fff;
}
.contact-info__wrapper {
    overflow: hidden;
    border-radius: .625rem .625rem 0 0
}

@media (min-width: 1024px) {
    .contact-info__wrapper {
        border-radius: 0 .625rem .625rem 0;
        padding: 5rem !important
    }
}
.contact-info__list span.position-absolute {
    left: 0
}
.z-index-101 {
    z-index: 101;
}
.list-style--none {
    list-style: none;
}
.contact__wrapper {
    background-color: #fff;
    border-radius: 0 0 .625rem .625rem
}

@media (min-width: 1024px) {
    .contact__wrapper {
        border-radius: .625rem 0 .625rem .625rem
    }
}
@media (min-width: 1024px) {
    .contact-form__wrapper {
        padding: 5rem !important
    }
}
.shadow-lg, .shadow-lg--on-hover:hover {
    box-shadow: 0 1rem 3rem rgba(132,138,163,0.1) !important;
}
/* contact page end */
/* about us page  styling*/
.masthead {
    padding: 3rem 0 7rem;
    position: relative;
    background-color: #dd3d31;
    background-image: url(https://startbootstrap.com/assets/img/overlay.svg), linear-gradient(45deg, #dd3d31 0%, #d22f23 100%);
    /* background-image: url(/static/images/test_img.svg), linear-gradient(45deg, #dd3d31 0%, #d22f23 100%); */
    background-size: cover;
    z-index: 0
}

.masthead svg.wave {
    position: absolute;
    bottom: -1px;
    left: 0
}

.masthead h1 {
    color: #fff;
    font-weight: 700;
    font-size: 2rem;
    line-height: 1.1;
    z-index: 1
}

.masthead h2 {
    color: rgba(255, 255, 255, .6);
    font-weight: 600;
    z-index: 1;
    font-size: 1.2rem
}

.masthead a {
    color: rgba(255, 255, 255, .8);
    text-decoration: underline;
    z-index: 1
}

.masthead a:hover {
    color: #fff
}

.masthead a:active {
    text-decoration: none
}

@media(min-width:992px) {
    .masthead h1 {
        font-size: 3rem
    }
    .masthead h2 {
        font-size: 1.5rem
    }
}

.masthead .masthead-cards {
    position: relative;
    z-index: 1
}

.masthead .masthead-cards .shape {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, .3);
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 30% 70% 70% 30%/30% 30% 70% 70%
}

.masthead .masthead-cards .card {
    opacity: 1;
    font-size: .8rem;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: .05rem;
    color: #212529;
    transition: .15s all
}

.masthead .masthead-cards .card:hover {
    margin-top: -.25rem;
    margin-bottom: .25rem
}

.masthead .masthead-cards .card:active {
    margin-top: inherit;
    margin-bottom: inherit
}

.masthead .masthead-cards .card.border-bottom-blue:hover {
    color: #2092ed
}

.masthead .masthead-cards .card.border-bottom-green:hover {
    color: #28a745
}

.masthead .masthead-cards .card.border-bottom-red:hover {
    color: #dd3d31
}

.masthead .masthead-cards .card.border-bottom-yellow:hover {
    color: #ffc107
}

.masthead-page {
    padding: 1rem 0 4rem
}

@media(min-width:992px) {
    .masthead-page h1 {
        font-size: 2.5rem
    }
}

.border-bottom-yellow {
    border-color: #ffc107!important;
}

.border-bottom-red {
    border-color: #dd3d31!important;
}

.border-bottom-blue {
    border-color: #2092ed!important;
}

.border-bottom-green {
    border-color: #28a745!important;
}

.border-bottom-blue, .border-bottom-green, .border-bottom-red, .border-bottom-yellow {
    border-bottom: .4rem solid!important;
}
.shadow-lg {
    box-shadow: 0 2rem 1.5rem -1.5rem rgba(33,37,41,.15),0 0 1.5rem .5rem rgba(33,37,41,.05)!important;
}
.border-0 {
    border: 0!important;
}





/* about us page styling ended */


/* home nav and banner end */
/* footer  */
footer {
    /* position: fixed; */
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
  }
/* footer end */
/* home page package naviation  */
.card-block{
    box-shadow: 0 10px 6px -6px black;

}

.order-card {
    color: #fff;
}

.bg-c-blue {
    background: linear-gradient(45deg,#4099ff,#73b4ff);
}

.bg-c-green {
    background: linear-gradient(45deg,#2ed8b6,#59e0c5);
}

.bg-c-yellow {
    background: linear-gradient(45deg,#FFB64D,#ffcb80);
}

.bg-c-pink {
    background: linear-gradient(45deg,#FF5370,#ff869a);
}


.card {
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
    box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
    border: none;
    margin-bottom: 30px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.card .card-block {
    padding: 25px;
}

.order-card i {
    font-size: 26px;
}

.f-left {
    float: left;
}

.f-right {
    float: right;
}

/* home page package navigation end */
/* home page images div */
.align-items-center {
    -webkit-box-align: center!important;
    align-items: center!important;
}
.form-row {
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    margin-right: -5px;
    margin-left: -5px;
}
.img-square {
    position: relative;
    padding-bottom: 100%;
    box-shadow: 0 10px 6px -6px black;

}
.img-square .img-cover {
    position: absolute;
}
.img-cover {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}
img {
    vertical-align: middle;
    border-style: none;
}






/* home page images div end */

/* user login signup */
#signin-body a{
    background-color:#f7f7f7;
    margin-top:-8%;
    padding:3%;
    /* margin-bottom: 5%; */
} 

#signup-body{
    background-color:#f7f7f7;
    margin-top: -5%;
}
#signup-font{
    font-family: 'Volkhov', serif;
    text-align:center;

}
#signin-font{
    font-family: 'Volkhov', serif;
    text-align:center;
}
#reset-pswd-font{
    font-family: 'Volkhov', serif;
    text-align:center;
    
}
#signin-body .card-signin{
    background-color:#ffffff;
    margin:10%;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
    /* width:75%; */
    height: 80%;


}
.container .wrapper2{
    /* margin: 20%; */
}
.form-signup{
    max-width: 380px;
    margin:0 auto;  
    padding: 15px 40px 50px;

}
.wrapper2{
    background-color:#ffffff;
    /* margin-top: -10%; */
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);

}


/* user login signup ends  */


/*ENQUIRY Form  */
#Enquiry-Form{
    padding: 5%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 8px 6px -6px black;
    margin-top: -7%;


}
#Enquiry-Form .row {
    padding: 1%;
    background-color:#fafafa;
    border-radius: 10px;
    box-shadow: 0 8px 6px -6px   black;

}

/* Enquiry Form */

/* services div */
.service-heading{
    font-family: 'Volkhov', serif;
    margin-bottom:3%;
}
.corousel-cell{
    width:100%;
}
.services-imgs{
    width:245px;
    height: 206px;
}

.service-img{
    width:50px
}


/* services div */

/* Holidays Packages Upload  */
.Holiday-package-upload{
    background-color:#ffffff;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
    margin: 5%;

}
.Holiday-package-upload .form-group .text-secondary{
    color:#ba8a06;
}



/* Holidays Package  Upload ends` */

/* holidays package list  */
.Holidays-Package-Body{
    background-color: #fffefc;
    padding: 5%;
    margin-top: -7%;
}
.Holidays-container .row{
    box-shadow: 0 8px 6px -6px   black;
    margin:0 auto;


    /* margin: 5%; */

}
.holidays-card-imgs{
    height: 245px;
}
.trip-title{
    color:rgb(12, 139, 101);
    font-family: 'Volkhov', serif;

}

/* holidays package list end */


/* holiday package detail Itinerary */

.layout-content .itinerary-footer{
    background: rgb(14,52,72);
    background: linear-gradient(90deg, rgba(14,52,72,1) 100%, rgba(174,174,174,1) 100%);
    box-shadow: 0 8px 6px -6px   black;



}







/* holiday package detail Itinerary ends */


/* flight booking enquiry forms */
/* below hiding the label form of flight booking form */
#flight-booking-form  label{ 
    display :none;

}


/* flight booking enquiry form end */

/* wiki search styling */
#wiki-imgs{
    border: 3px solid gray;
}
#wiki-data{
    background-color: #be3d3d;
    color: #fdfdfd;
    font-family: 'Quattrocento', serif;

}

#borderless {   
    border: none;
}

#borderless:hover, #borderless:active, #borderless:focus {
    border: none;
    outline: none;
    box-shadow: none;
}

/* test paragraph style */

.jumbotron {
    background-color: #16a085;
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .container {
    max-width: 960px;
    text-align: center;
  }
/*   
  .container h1 {
    position: relative;
    animation-name: header1;
    animation-duration: 2s;
    animation-fill-mode: forwards; */
  }
  
  @keyframes header1 {
    0% { top: -1000px; }
    100% { top: 0; }
  }
  
  /* .container p {
    position: relative;
    left: -1500px;
    animation-name: paragraph;
    animation-duration: 2s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
  } */
  
  @keyframes paragraph {
    0% { left: -1500px; }
    100% { left: 0; }
  }
  
  @keyframes btn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
#test-para{
    /* background-color: rgb(29, 221, 211); */
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    color:#ffffff

}  
/* test end */

/* wiki search styling end here */