<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale = 1.0, maximum-scale=1.0, user-scalable=no" /> 
    <!--  CSS FILE -->
    <link rel="stylesheet" href="{% static "css/voyage_style.css"  %}">
    <link rel="stylesheet" href="{% static "js/voyage.js"  %}">
    <link rel="stylesheet" href="{% static "main/gijgo.min.css" %}">
    <!-- flickity css  for sliding divs  -->
    <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">

    <!-- javascript file -->
    <script src="{% static "js/voyage.js" %}"></script>
    <!-- bootstrap/css -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
     <!-- font awesome -->
     <link rel="stylesheet"
     href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
     integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
     crossorigin="anonymous">
     <!-- google font for signu and signin -->
     <link href="https://fonts.googleapis.com/css2?family=Volkhov:wght@700&display=swap" rel="stylesheet">
    <!-- google font for brand -->
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap" rel="stylesheet">


     <title>{% block title %} Voyage Holidayz {% endblock %}</title>

</head>
<!--email above navbar  -->
<section>
  <div class="row bg text-center pt-2 fixed-top" style="background-color: #cc8e08;">
    <div class="col-md-6 pl-5">
      <a href="https://api.whatsapp.com/send?phone=919886934566&text=" target="_blank" style="color: #ffffff;text-decoration:none;" target="_blank">
        <p> <img src="{% static 'images/whatsapp.png' %}" style="width: 30px;">  +91 98869 34566</p>
      </a>
    </div>
    <div class="col-md-4 text-center pr-5" style="margin-left:55px">
      <a href ="https://mail.google.com/mail/?view=cm&fs=1&to=voyageandholidayz@gmail.com" target="_blank"  style="color: #ffffff;text-decoration: none;">
         <p>&nbsp;&nbsp; <img src="{% static 'images/gmail.png' %}" alt="" style="width:30px">  voyageandholidayz@gmail.com </p>
      </a>
    </div>
  </div>
</section> 
<!--email above navbar end  -->








<body class="base-body">
<!-- Mega Navbar  -->
<div class="jumbotron banner-area" id="main-bnr" style="margin-top: 40px;padding-top:80px">
    <div class="container">
          <a href="{% url 'home' %}" id="brand-name"> Voyage 
            <img src="{% static 'images/brand-flight.png'%}" alt="" style="width:">
            Holidayz
          </a><br>

        <div class="row">
            <div class="col-12">
                <nav class="navbar navbar-expand-lg navbar-custom bg"> 
                    <a class="navbar-brand" href="#">        </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                  
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                      <ul class="navbar-nav mr-auto">
                        <li class="nav-item active text-center">
                            <a class="nav-link" href="{% url 'home' %}">
                            <img class="text-center" src="{% static "images/home.png" %}" alt="" style="width: 40px;"> <br>
                            Home <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item text-center">
                            <a class="nav-link" href="#">
                                <img class="text-center" src="{% static "images/gift.png" %}" alt="" style="width: 40px;">
                                Deals
                            </a>
                        </li>
                        <li class="nav-item text-center">
                            <a class="nav-link" href="{% url 'Domestic_Packages' %}">
                                <img class="text-center" src="{% static "images/domestic.png" %}" alt="" style="width: 40px;">
                                Domestic
                             </a>
                        </li>
                        <li class="nav-item text-center">
                            <a class="nav-link" href="{% url 'International_Packages' %}">
                                <img class="text-center" src="{% static "images/Destination.png" %}" alt="" style="width: 40px;">
                                International
                            </a>
                        </li>
                        <li class="nav-item text-center">
                            <a class="nav-link" href="{% url 'Flight_Booking' %}">
                                <img class="text-center" src="{% static "images/flights.png" %}" alt="" style="width: 40px;"><br>
                                Flights
                            </a>
                        </li>
                        <li class="nav-item dropdown text-center">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              <img class="text-center" src="{% static "images/more.png" %}" alt="" style="width: 40px;"> <br>
                              <span class="text-center">More</span> 
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                              <a class="dropdown-item" href="#">Abouts</a>
                              <a class="dropdown-item" href="{% url 'Contact' %}">Contact Us</a>
                              <div class="dropdown-divider"></div>
                              {% if  user.get_username == 'voyage_admin' %}  
                              <a class="dropdown-item" href="{% url 'Holidays_Packages_Packages' %}">Hotel Package Upload</a>
                              {% endif %}
                            </div>
                          </li>
                      </ul>
                      <ul class="navbar-nav ml-auto"> 
                      {% if user.is_authenticated%}
                        <li class="nav-item"> 
                          <a class="nav-link text-center" href="{% url 'logout' %}"> 
                          <img class="text-center" src="{% static "images/logout.png" %}" alt="" style="width: 35px;"> <br>
                            LogOut 
                          </a> 
                        </li> 

                      {% else %}
                        <li class="nav-item"> 
                            <a class="nav-link text-center" href="{% url 'login' %}"  href="#sign-in-scrol"> 
                            <img class="text-center" src="{% static "images/login.png" %}" alt="" style="width: 35px;"> <br>
                              SignIn 
                            </a> 
                        </li>
                        <li class="nav-item"> 
                          <a class="nav-link text-center" href="{% url 'signup' %}"  href="#sign-in-scrol"> 
                          <img class="text-center" src="{% static "images/signup.png" %}" alt="" style="width: 35px;"> <br>
                            SignUp 
                          </a> 
                        </li>
                       {% endif %}
                      </ul> 

                      <!-- <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                      </form> -->
                    </div>
                  </nav>
            </div>
        </div>
    </div>
</div>

<!-- Mega Navbar ends here -->



    






<!-- content  -->
{% block content %}
{% endblock %}
<!-- content end  -->


<!-- footer div -->
 <!-- Copyright -->
 <footer id="footer-block-home" class="page-footer font-small unique-color-dark">
  <div class="footer-copyright text-center py-3" style="background-color: black;" id="all-in-one"> 
    <span style =color:white;> ©️ 2020 Copyright. All Rights Reserved AOCINC PVT. LTD.</span>
   <!-- <a id="brand-footer" href="https://mdbootstrap.com/"> AOCINC</a> -->
 </div>
 </footer>
 <!-- Copyright -->
 <!-- footer div end--> 
 
 




<!-- javascript/jquery cdn -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script type="text/javascript" src="{% static "main/gijgo.min.js" %}"></script>
<!-- flickity js script for sliding imgs/divs -->
<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>


<!-- script for datepicker in For Enquiry form -->
<!-- <script>
  $(function () {
    $("#id_Journey_Date").datepicker({uiLibrary: 'bootstrap4',iconsLibrary: 'fontawesome'});
  })
</script> -->






</body>
</html>