<!DOCTYPE html>
{% extends 'Voyage_LandingApp/base.html' %}
{% load static %}
{% block content %}

<div class="enquiry-bnr"> 
    <div class="row">
      <div class="col-sm" >
        <h5 class="text-center">
            <img class="text-center" src="{% static "images/call.png" %}" alt="" style="width: 40px;">
        </h5>
        <h5 class="text-center">
            <a href="{% url 'Enquiry_Form' %}"  id="banner-head">
            Constomized Packages     
          </a>
        </h5>
      </div>
      <div class="col-sm">
          <h5 class="text-center">
            <img class="text-center" src="{% static "images/packages.png" %}" alt="" style="width: 40px;">
          </h5>
        <h5 class="text-center">
            Explore Packages
        </h5>
        
      </div>
      <div class="col-sm">
          <h5 class="text-center">
            <img class="text-center" src="{% static "images/cities.png" %}" alt="" style="width: 40px;">
          </h5>
        <h5 class="text-center">
            Destination
        </h5>
      </div>
    </div>
  </div>
</div>

<!-- <br><br><br>
<div class="alert alert-primary" role="alert">
    {% if messages %}
        {% for message in messages %}
        <p id="messages">{{message}}</p>
        {% endfor %}
    {% endif %}
</div> -->

<!-- test form -->


<!-- test form -->

{% endblock %}