<!DOCTYPE html>
{% extends 'Voyage_LandingApp/base.html' %}
{% load static %}
{% block content %}

<div class="enquiry-bnr"> 
    <div class="row">
      <div class="col-sm" >
        <h5 class="text-center">
            <img class="text-center" src="{% static "images/call.png" %}" alt="" style="width: 40px;">
        </h5>
        <h5 class="text-center">
            <a href="{% url 'Enquiry_Form' %}"  id="banner-head">
            Customize Packages     
          </a>
        </h5>
      </div>
      <div class="col-sm">
          <h5 class="text-center">
            <img class="text-center" src="{% static "images/packages.png" %}" alt="" style="width: 40px;">
          </h5>
        <h5 class="text-center">
          <a href="{% url 'Holidays_Packages' %}"  id="banner-head">
            Explore Packages
          </a>
        </h5>
        
      </div>
      <div class="col-sm">
          <h5 class="text-center">
            <img class="text-center" src="{% static "images/cities.png" %}" alt="" style="width: 40px;">
          </h5>
        <h5 class="text-center">
          <a href="{% url 'Search_Wiki' %}"  id="banner-head">
           Know About Destination
        </h5>
      </div>
    </div>
  </div>
</div>

<!-- <br><br><br>
<div class="alert alert-primary" role="alert">
    {% if messages %}
        {% for message in messages %}
        <p id="messages">{{message}}</p>
        {% endfor %}
    {% endif %}
</div> -->


<!-- services -->
<br><br><br>
<!-- <div class="container"> -->
<h3 class="text-center service-heading"> <img src="{% static 'images/service-heading.png' %}" class="service-img" alt=""> Services</h3>
<div class="corousel" data-flickity ='{"groupCells":true,"autoplay":true}'>
  <div class="carousel-cell"> 
      <h5 class="text-center bold-text"> Holiday Packages </h5>
    <a href="{% url 'Holidays_Packages' %}">
      <img src="{% static 'images/holiday_package.jpeg' %}"  class="responsive-img services-imgs" alt="">
    </a>
  </div> 
  <div class="carousel-cell">
      <h5 class="text-center bold-text"> Flights </h5>
    <a href="{% url 'Flight_Booking' %}">
      <img src="{% static 'images/flight_2.jpeg' %}"  class="responsive-img services-imgs" alt="">
    </a>
  </div>
  <div class="carousel-cell">
      <h5 class="text-center bold-text"> Hotels </h5>
    <a href="{% url 'Hotel_Booking' %}">
      <img src="{% static 'images/hotel.jpeg' %}"  class="responsive-img services-imgs" alt="">
    </a>
  </div>
  <div class="carousel-cell">
      <h5 class="text-center bold-text"> Visa </h5>
    <a href="{% url 'Visa_Enquiry' %}">
      <img src="{% static 'images/visas.jpg' %}"  class="responsive-img services-imgs" alt="">
    </a>
  </div>
  <div class="carousel-cell">
      <h5 class="text-center bold-text"> Trasport Services </h5>
    <a href="{% url 'Transports_Enquiry' %}">
      <img src="{% static 'images/transports.jpeg' %}"  class="responsive-img services-imgs" alt="">
    </a>
  </div>

</div>
<!-- </div> -->
<!-- services end -->
<br><br><br><br>

<!-- all package display -->
<div class="container">
    <div class="row">
        <div class="col-md-4 col-xl-3">
            <div class="card bg-c order-card" style="background-color:#4e0370;">
                <div class="card-block">
                    <h6 class="m-b-20"><a href="{% url 'Domestic_Packages' %}" style="color: #fff;"> Domestic Packages</a></h6>
                    <h2 class="text-right"><i class="fa fa-route f-left"></i><span>{{ Domestic_count }}</span></h2>
                    <p class="m-b-0"> <a href="{% url 'Enquiry_Form' %}" style="color: #fff;">Contact </a><span class="f-right"><a href="{% url 'Domestic_Packages' %}" style="color: #fff;"> Browse Now</a></span></p>
                  </div>
            </div>
        </div>
        
        <div class="col-md-4 col-xl-3">
            <div class="card bg order-card" style="background-color: #02ab9a;">
                <div class="card-block">
                    <h6 class="m-b-20"> <a href="{% url 'CentralAsia_Packages' %}" style="color: #fff;">Central Asia Packages </a></h6>
                    <h2 class="text-right"><i class="fa fa-globe-europe f-left"></i><span>{{ CentralAsia_Count }}</span></h2>
                    <p class="m-b-0"> <a href="{% url 'Enquiry_Form' %}" style="color: #fff;">Contact </a><span class="f-right"><a href="{% url 'CentralAsia_Packages' %}" style="color: #fff;"> Browse Now</a></span></p>
                  </div>
            </div>
        </div>
        
        <div class="col-md-4 col-xl-3">
            <div class="card bg order-card" style="background-color:#deab04">
                <div class="card-block">
                    <h6 class="m-b-20"> <a href="{% url 'Europe_Packages' %}" style="color: #fff;">Europe Packages</a></h6>
                    <h2 class="text-right"><i class="fa fa-globe-europe f-left"></i><span>{{ Europe_count }}</span></h2>
                    <p class="m-b-0"> <a href="{% url 'Enquiry_Form' %}" style="color: #fff;">Contact </a><span class="f-right"><a href="{% url 'Europe_Packages' %}" style="color: #fff;"> Browse Now</a></span></p>
                  </div>
            </div>
        </div>
        
        <div class="col-md-4 col-xl-3">
            <div class="card bg order-card" style="background-color:#f00a7d">
                <div class="card-block">
                    <h6 class="m-b-20"> <a href="{% url 'MiddleEast_Packages' %}" style="color: #fff;">Middle East Packages </a></h6>
                    <h2 class="text-right"><i class="fa fa-globe-europe f-left"></i><span>{{ MiddleEast_count }}</span></h2>
                    <p class="m-b-0"> <a href="{% url 'Enquiry_Form' %}" style="color: #fff;">Contact </a><span class="f-right"><a href="{% url 'MiddleEast_Packages' %}" style="color: #fff;"> Browse Now</a></span></p>
                  </div>
            </div>
        </div>

        <div class="col-md-4 col-xl-3">
          <div class="card bg order-card" style="background-color:#de4d04">
              <div class="card-block">
                  <h6 class="m-b-20"> <a href="{% url 'SouthEast_Asia_Packages' %}" style="color: #fff;">South East Packages </a></h6>
                  <h2 class="text-right"><i class="fa fa-globe-europe f-left"></i><span>{{ SouthEast_Asia_count }}</span></h2>
                  <p class="m-b-0"> <a href="{% url 'Enquiry_Form' %}" style="color: #fff;">Contact </a><span class="f-right"><a href="{% url 'SouthEast_Asia_Packages' %}" style="color: #fff;"> Browse Now</a></span></p>

              </div>
          </div>
      </div>

	</div>
</div>
<br><br><br>
<!-- all package display ends -->




<!-- images div -->
<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-md-8">
      <!-- Heading -->
      <h1 class="mb-4 text-center animate trip-title" data-toggle="animation" data-animation="fadeUp" data-animation-order="1" data-animation-trigger="load">
        <i class="fas fa-quote-left"></i> Travelling <i class="fas fa-quote-right"></i> <br> It leaves you speechless, then turns you into a storyteller
      </h1>
      <br>
      <!-- Text -->
      <!-- <p class="mb-6 text-center text-muted animate" data-toggle="animation" data-animation="fadeUp" data-animation-order="2" data-animation-trigger="load">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor voluptas harum aperiam minus corporis, nesciunt nobis quaerat voluptatumunt qui similique.
      </p> -->

    </div>
  </div> <!-- / .row -->
  <div class="row form-row align-items-center">
    <div class="col-3">

      <div class="img-square">
        <img src="{% static 'images/third-image.jpg' %}" alt="..." class="img-cover">
      </div>
      
    </div>
    <div class="col-6">
      <div class="row form-row align-items-end mb-2">
        <div class="col-7">
          
          <div class="img-square">
            <img src="{% static 'images/second-image.jpg' %}" alt="..." class="img-cover">
          </div>

        </div>
        <div class="col-5">
          
          <div class="img-square">
            <img src="{% static 'images/fouth-image.jpg' %}" alt="..." class="img-cover">
          </div>

        </div>
      </div> <!-- / .row -->
      <div class="row form-row">
        <div class="col-5">
          
          <div class="img-square">
            <img src="{% static 'images/fifth-image.jpeg' %}" alt="..." class="img-cover">
          </div>

        </div>
        <div class="col-7">
          
          <div class="img-square">
            <img src="{% static 'images/sixth-image.jpeg' %}" alt="..." class="img-cover">
          </div>

        </div>
      </div> <!-- / .row -->
    </div>
    <div class="col-3">

      <div class="img-square">
        <img src="{% static 'images/seventh-image.jpeg' %}" alt="..." class="img-cover">
      </div>
      
    </div>
  </div> <!-- / .row -->
</div>
<br><br><br>
<!-- images div end -->
























{% endblock %}