<!DOCTYPE html>
{% extends 'Voyage_LandingApp/base.html' %}
{% load static %}
{% block content %}

<div class="enquiry-bnr"> 
    <div class="row">
      <div class="col-sm" >
        <h5 class="text-center">
            <img class="text-center" src="{% static "images/call.png" %}" alt="" style="width: 40px;">
        </h5>
        <h5 class="text-center">
            Constomized Packages
        </h5>
      </div>
      <div class="col-sm">
          <h5 class="text-center">
            <img class="text-center" src="{% static "images/packages.png" %}" alt="" style="width: 40px;">
          </h5>
        <h5 class="text-center">
            Explore Packages
        </h5>
        
      </div>
      <div class="col-sm">
          <h5 class="text-center">
            <img class="text-center" src="{% static "images/cities.png" %}" alt="" style="width: 40px;">
          </h5>
        <h5 class="text-center">
            Destination
        </h5>
      </div>
    </div>
  </div>
</div>


{% endblock %}