<!DOCTYPE html>
{% extends 'Voyage_LandingApp/base.html' %}
{% load crispy_forms_tags %}
{% load static %}


{% block content %}
<div class="container">
<h1>your search result is here ....</h1>

    {% if  new_images %}
        {% for image in new_images %}
           <img src="{{ image }}" alt="" style="width:150px" id="wiki-imgs">          


        {% endfor %}

    {% endif %}
</div>
<br><br>
<div class="container jumbotron" id="wiki-data">
        <h5 class="text-left secondary text-justify">{{ page_Data | title }}</h5>
</div>


 

{% endblock %}

