<!DOCTYPE html>
{% extends 'Voyage_LandingApp/base.html' %}
{% load crispy_forms_tags %}
{% block title %}  reset confirm {% endblock %}


{% block content %}
  <br><br>
<div class="wrapper">
<div class="container">
  {% if form.errors %}
  <p  class="alert alert-danger form-signin">Your Email Is Not Valid!</p>
  {% endif %}
  <form class="form-signin"  method="post">
  {% csrf_token %}
    <div class="form-group">
      <h2 class="form-sigin-heading text-center">Reset Your Password</h2>
      <hr>
      {{ form | crispy }}
    </div>
    <fieldset>
        <div class="form-group">
            <button  class="btn btn-success btn-block" type="submit">Reset Password</button>
        </div>
    </fieldset>
  </form>
 <br>


</div>
</div>
{% endblock %}
